- var time = (new Date()).getTime();

mixin dev_head(page_title, ticket)
    head
        title=page_title
        |
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        if (ticket)
            link(rel='stylesheet', href='styles/main_ticket.css?v=' + time, media='all')
        else
            | <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
            link(rel='stylesheet', href='styles/main_global.css?v=' + time, media='all')

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block


mixin cert(name, course, at, date)
    svg(preserveAspectRatio="xMidYMid meet" viewBox="0 0 1190 1684"): g
        foreignobject.certificate-text.name(x=370 y=812 height=1 width=740)
            div.text_left= name
        foreignobject.certificate-text(x=574 y=975 height=1 width=490)
            div.text_left= course
        foreignobject.certificate-text(x=290 y=1112 height=1 width=608)
            div.text_center= at
        foreignobject.certificate-text.date(x=603 y=1260 height=1 width=350)
            div.text_left= date

